* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background: url(../img/background3.jpg) center/cover no-repeat;
    background-color: lightgrey;
    background-blend-mode: lighten;
}

nav {
    text-align: center;
    height: 60px;
    width: 100%;
    background-color: white;
    position: fixed;
    background: rgb(234, 232, 235);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

nav li {
    display: inline-block;
    padding: 20px 3%;
}

nav a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

nav a:hover {
    color: rgb(189, 82, 92);
}

main {
    text-align: center;
    font-size: 1.2em;
    padding-top: 60px;
}

img {
    display: block;
    margin: 0 auto;
    padding: 5px;
}

main p {
    padding-bottom: 25px;
    font-size: 0.9em;
}

h1 {
    font-family: 'Source Code Pro', monospace;
    font-weight: 600;
    font-size: 2.5em;
    color: rgb(189, 82, 92);
    padding: 30px;
    text-transform: capitalize;
}

i {
    color: rgb(189, 82, 92);
}

i:hover {
    color: black;
}

footer {
    padding-bottom: 15px;
    padding-top: 60px;
    text-align: center;
}

footer p {
    font-size: 0.8em;
    color: black;
    padding-bottom: 10px;
}

footer a {
    text-decoration: none;
    color: rgb(189, 82, 92);
}

footer a:hover {
    color: rgb(71, 71, 71);
}